<h1>Problem Statement</h1>

In [149]:
# Import
import sklearn as sk
import numpy as np
import pandas as pd
from sklearn import preprocessing

In [150]:
data = pd.read_csv("./covid_19_data.csv")
data.head()

,SNo,ObservationDate,Province/State,Country/Region,Last Update,Confirmed,Deaths,Recovered
0,1,01/22/2020,Anhui,Mainland China,1/22/2020 17:00,1.0,0.0,0.0
1,2,01/22/2020,Beijing,Mainland China,1/22/2020 17:00,14.0,0.0,0.0
2,3,01/22/2020,Chongqing,Mainland China,1/22/2020 17:00,6.0,0.0,0.0
3,4,01/22/2020,Fujian,Mainland China,1/22/2020 17:00,1.0,0.0,0.0
4,5,01/22/2020,Gansu,Mainland China,1/22/2020 17:00,0.0,0.0,0.0

In [151]:
data.drop(['Province/State', 'Last Update', 'SNo'], axis=1, inplace=True)
# data.loc[data['Province/State'].isnull()]

In [152]:
# confirm = [data.loc[data['Country/Region'] == i]['Confirmed'].sum() for i in data['Country/Region'].unique()]
# death = [data.loc[data['Country/Region'] == i]['Deaths'].sum() for i in data['Country/Region'].unique()]
# recover = [data.loc[data['Country/Region'] == i]['Recovered'].sum() for i in data['Country/Region'].unique()]

In [153]:
data

       ObservationDate  Country/Region  Confirmed  Deaths  Recovered
0           01/22/2020  Mainland China        1.0     0.0        0.0
1           01/22/2020  Mainland China       14.0     0.0        0.0
2           01/22/2020  Mainland China        6.0     0.0        0.0
3           01/22/2020  Mainland China        1.0     0.0        0.0
4           01/22/2020  Mainland China        0.0     0.0        0.0
...                ...             ...        ...     ...        ...
306424      05/29/2021         Ukraine   102641.0  2335.0    95289.0
306425      05/29/2021     Netherlands    29147.0   245.0        0.0
306426      05/29/2021  Mainland China     1364.0     1.0     1324.0
306427      05/29/2021         Ukraine    87550.0  1738.0    83790.0
306428      05/29/2021     Netherlands   391559.0  4252.0        0.0

[306429 rows x 5 columns]

In [154]:
indoDf = data.loc[data['Country/Region'] == 'Indonesia']
indoDf.reset_index(drop=True, inplace=True)
df = pd.DataFrame(indoDf)
df

    ObservationDate Country/Region  Confirmed   Deaths  Recovered
0        03/02/2020      Indonesia        2.0      0.0        0.0
1        03/03/2020      Indonesia        2.0      0.0        0.0
2        03/04/2020      Indonesia        2.0      0.0        0.0
3        03/05/2020      Indonesia        2.0      0.0        0.0
4        03/06/2020      Indonesia        4.0      0.0        0.0
..              ...            ...        ...      ...        ...
449      05/25/2021      Indonesia  1786187.0  49627.0  1642074.0
450      05/26/2021      Indonesia  1791221.0  49771.0  1645263.0
451      05/27/2021      Indonesia  1797499.0  49907.0  1649187.0
452      05/28/2021      Indonesia  1803361.0  50100.0  1654557.0
453      05/29/2021      Indonesia  1809926.0  50262.0  1659974.0

[454 rows x 5 columns]

In [155]:
# Data Scaling
df['Confirmed'] = preprocessing.minmax_scale(df['Confirmed'], feature_range=(0, 1))
df['Deaths'] = preprocessing.minmax_scale(df['Deaths'], feature_range=(0, 1))
df['Recovered'] = preprocessing.minmax_scale(df['Recovered'], feature_range=(0, 1))