<h1>Problem Statement</h1>

In [82]:
# Import
import sklearn as sk
import numpy as np
import pandas as pd
from sklearn import preprocessing

In [83]:
data = pd.read_csv("./covid_19_data.csv", index_col="SNo")
data.head()

,ObservationDate,Province/State,Country/Region,Last Update,Confirmed,Deaths,Recovered
SNo,,,,,,,
1,01/22/2020,Anhui,Mainland China,1/22/2020 17:00,1.0,0.0,0.0
2,01/22/2020,Beijing,Mainland China,1/22/2020 17:00,14.0,0.0,0.0
3,01/22/2020,Chongqing,Mainland China,1/22/2020 17:00,6.0,0.0,0.0
4,01/22/2020,Fujian,Mainland China,1/22/2020 17:00,1.0,0.0,0.0
5,01/22/2020,Gansu,Mainland China,1/22/2020 17:00,0.0,0.0,0.0

In [84]:
data.drop(['Province/State'], axis=1)
data.drop(['Last Update'], axis=1)
# data.loc[data['Province/State'].isnull()]

,ObservationDate,Province/State,Country/Region,Confirmed,Deaths,Recovered
SNo,,,,,,
1,01/22/2020,Anhui,Mainland China,1.0,0.0,0.0
2,01/22/2020,Beijing,Mainland China,14.0,0.0,0.0
3,01/22/2020,Chongqing,Mainland China,6.0,0.0,0.0
4,01/22/2020,Fujian,Mainland China,1.0,0.0,0.0
5,01/22/2020,Gansu,Mainland China,0.0,0.0,0.0
...,...,...,...,...,...,...
306425,05/29/2021,Zaporizhia Oblast,Ukraine,102641.0,2335.0,95289.0
306426,05/29/2021,Zeeland,Netherlands,29147.0,245.0,0.0
306427,05/29/2021,Zhejiang,Mainland China,1364.0,1.0,1324.0
306428,05/29/2021,Zhytomyr Oblast,Ukraine,87550.0,1738.0,83790.0
306429,05/29/2021,Zuid-Holland,Netherlands,391559.0,4252.0,0.0

In [85]:
confirm = [data.loc[data['Country/Region'] == i]['Confirmed'].sum() for i in data['Country/Region'].unique()]
death = [data.loc[data['Country/Region'] == i]['Deaths'].sum() for i in data['Country/Region'].unique()]
recover = [data.loc[data['Country/Region'] == i]['Recovered'].sum() for i in data['Country/Region'].unique()]

In [86]:
# Data Scaling
data['Confirmed'] = preprocessing.minmax_scale(data['Confirmed'], feature_range=(0, 1))
data['Deaths'] = preprocessing.minmax_scale(data['Deaths'], feature_range=(0, 1))
data['Recovered'] = preprocessing.minmax_scale(data['Recovered'], feature_range=(0, 1))

In [87]:
data.head()

,ObservationDate,Province/State,Country/Region,Last Update,Confirmed,Deaths,Recovered
SNo,,,,,,,
1,01/22/2020,Anhui,Mainland China,1/22/2020 17:00,0.049115,0.001581,0.117785
2,01/22/2020,Beijing,Mainland China,1/22/2020 17:00,0.049118,0.001581,0.117785
3,01/22/2020,Chongqing,Mainland China,1/22/2020 17:00,0.049116,0.001581,0.117785
4,01/22/2020,Fujian,Mainland China,1/22/2020 17:00,0.049115,0.001581,0.117785
5,01/22/2020,Gansu,Mainland China,1/22/2020 17:00,0.049115,0.001581,0.117785

In [88]:
len(data['Country/Region'].unique())

229